input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Work Sans', Medium;
  font-weight: 400;
  color: white;
  background-color: black
}

body {
    color: black !important; /* RGB Decimal :150, 91, 37 */
}

h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: black;
  padding: 0 20px 20px 20px;
  cursor: move;
  font-family: 'Work Sans', Medium;
  font-weight: 400;
  color: white;
  /* Fade out while not hovering */
  opacity: 0.75;
  zoom: 0.9;
  transition: opacity 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: white;
  font-family: 'Work Sans', Medium;
  font-weight: 300;
}

/* If not using map tiles, show a black background */
.leaflet-container {
  background-color: black !important;
}

.leaflet-popup-content-wrapper {
  color: white;
  font-family: 'Work Sans', Medium;
  background-color: black
}